@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.error{
    animation: shake 0.1s linear 10;
}

@keyframe shake{
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}